html,body,#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
.el-menu {
  border-right: 0px;
}

/* 给home的左侧功能设置样式 */
.el-submenu_title,
.el-menu-item
{font-size: 14px;}

/* 给左侧功能按钮图标设置样式 */
i.iconfont{
  margin-right: 10px;
}